.newsletter{
    width: 99%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background: url('./images/slide-02.jpg');
    background-size: cover;
    background-position: center;
    color: var(--color-text-light);
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
}
.newsletter .newsletter-title{
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

.newsletter .newsletter-title h4{
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-text-light);
}
.newsletter .newsletter-title p{
    font-size: 1.6rem;
    color: var(--color-text-light);
    font-weight: 400;
    margin: 0;
    width: 80%;
}

.newsletter .newsletter-input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
}
.newsletter .newsletter-input input{
    width: 500px;
    font-size: 1.6rem;
    color: var(--color-text-light);
    background-color: transparent;
    border: 1px solid var(--color-text-light);
    padding: 10px;
    outline: none;
    border-radius: 20px;
}
.newsletter .newsletter-input button{
    padding:  10px 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-text-light);
    color: var(--color-primary);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
}
.newsletter .newsletter-input input::placeholder {
    color: var(--color-text-light);
}
.newsletter .newsletter-input button:hover{
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

/* responsive media queries */
@media (max-width: 768px) {
    .newsletter{
        height: 500px;
    }
    .newsletter .newsletter-title h4{
        font-size: 2.5rem;
    }
    .newsletter .newsletter-title p{
        font-size: 1.4rem;
        width: 90%;
    }
    .newsletter .newsletter-input{
       flex-direction: column;
       gap: 20px;
    }
    .newsletter .newsletter-input input{
        width: 100%;
        padding: 10px;
        font-size: 1.4rem;
    }
    .newsletter .newsletter-input button{
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
}
